.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(43, 172, 43);
    color: white;
    text-align: center;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column {
    float: left;
  }

  .left {
    width: 50%;
  }

  .right {
    width: 34%;
    background-color: #dAFff1;
    padding: 0%;
  }
  .header {
    padding: 2px;
    text-align: center;
    background: #05f57d;
    color: rgb(249, 250, 250);
    font-size: 30px;
    background-image: url("https://www.incimages.com/uploaded_files/image/1920x1080/getty_174525514_270141.jpg");
    width: auto;
    background-position: center;
    background-size: cover;
  }
  .header1 {
    padding: 2px;
    text-align: center;
    background: #ecdd0b;
    color: rgb(249, 250, 250);
    font-size: 30px;
  }
  .header2 {
    padding: 2px;
    text-align: center;
    background: #ecdd0b;
    color: rgb(249, 250, 250);
    font-size: 30px;
  }
  .para{
      color: darkblue;
      text-align: left;
      font-size: large;
  }