.header{
    min-height: 30%;
    width : 100%;
    background-image:url('https://mcdn.wallpapersafari.com/medium/55/80/ovRh5L.jpg ');
    background-position: center;
    background-size: cover;
    position: relative;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(43, 172, 43);
    color: white;
    text-align: center;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    background-color:  rgb(red, green, blue);
  }

  .column {
    float: left;
  }

  .left {
    width: 40%;
    font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-weight: lighter;
    
  }

  .right {
    width: 60%;

    padding: 0%;

  }