<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take-A-Step-Search results</title>
    <link rel="icon" href="../static/city.png">
    <link rel="stylesheet" href="../static/css/search.css">
</head>
<body>
    <div style="background-image: url('../static/searchhead.png') ;
        min-height: 5cm;
        width: 100%;
        background-position: center;
        
        ";>
        <div style="color: aliceblue; text-align:center; padding : 3%; font-size: 50px; font-weight: bold ;";>
            {{ cityname }} 
            <br>
            <p style="font-size: 25px;" >- Search Results</p>
        </div>
    </div>
    <div align="center" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">
    <h2>Search for issues </h2>
        <h4>Enter the name of the city :</h4>
        <form action="/search" method="GET" >
          <input type="text" name="citysearch" >
          <input type="submit" name ="Submit" >
        </form>
    </div>
    <br><br><br><br>
    {% for i in range(0,n) %}
    <div class = 'row' style="background-color: #dAFff1; padding:3% ">
        <div class = 'column left'>
        
            <!-- <h2>Post Number : {{ posts[i][0] }}</h2> -->
            <!-- <br> -->
            <h3>City name : {{ posts[i][1] }}</h3>
            <!-- <br> -->
            <h3>Area name : {{ posts[i][6] }}</h3>
            <!-- <br> -->
            <h3>Date of upload : {{ posts[i][3] }} {{ posts[i][4] }} {{ posts[i][5] }}</h3>
            <br>
            <h4>Description : {{ posts[i][2] }}</h4>
        </div>
        <div class = 'column right '  >
            
            <img src="../static/images{{ i+1 }}.jpg" align="right" style="width: 500px; height: auto; " >
            <br>
        </div>
    </div>
    <br>
    <hr size="8" width="90%" color="green"> 
    <br>
    {% endfor %}
    <br> &nbsp;
    <div class="footer">
      <p style="font-family: Arial, Helvetica, sans-serif;" > A Platform to spread awareness and post issues of your surroundings and get them noticed by respective authorities.  </p>
    </div>
      
</body>
</html>